
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        padding: 0;
        margin: 0;
        flex: 1;
    }

    h1 {
        font-family: 'Nunito', sans-serif;
        margin-top: 2.5%;


        text-align: center;
        color: rgb(0, 0, 0);

    }


    .login {
        font-family: 'Nunito', sans-serif;
        text-align: center;
        margin-bottom: .5rem;
    }

    .senhaa {
        font-family: 'Nunito', sans-serif;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .submit {

        text-align: center;

    }

    .usuario {
        border-radius: 5px;
        border-color: rgb(177, 175, 175);
    }

    .senhaUsuario {
        border-radius: 5px;
        border-color: rgb(177, 175, 175);
    }

    .logar {
        border: 1px solid rgb(0, 0, 0);
        background: transparent;
        border-radius: 2px;
        display: inline-block;
        cursor: pointer;
        font-family: 'Nunito', sans-serif;
        font-weight: bolder;
        font-size: 13px;
        padding: 6px 10px;
        text-decoration: none;
        outline: none;
    }

    .logar-lj:hover {
        background: rgba(0, 0, 0, .1);
    }


    #botao {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        clear: both;
    }

    .gSenha {

        border: 1px solid rgb(0, 0, 0);
        background: transparent;
        border-radius: 2px;
        display: inline-block;
        cursor: pointer;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 13px;
        margin-top: 10px;
        padding: 6px 10px;
        text-decoration: none;
    }

    .gSenha-lj:hover {
        background: rgba(0, 0, 0, .1)   
     }

    .gSenha:active {
        position: relative;
        top: 2px;
    }



    #layoutFormu {
        margin-top: 12.2%;
        margin-left: 41.8%;
        margin-right: 58.2;
        border: 1px solid rgb(150, 150, 150);
        border-radius: 6px;
        display: inline-block;
        cursor: pointer;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
        font-weight: bold;
        font-size: 13px;
        padding: 6px 10px;
        text-decoration: none;
    }
